.logo__tagline {
    color: #1c6892;
}
.content a, .warning a {
color: #004bff;
}

.menu__item--active {
    background: #0098d4;
}

.menu__item:hover {
   background: #0098d4;
}

.menu {
    border-bottom: 5px solid #0098d4;
}

.widget__title {
    border-bottom: 3px solid #1c6892;
}

.menu__list {
    background: #1c6892;
}

.footer {
    background: #01496b;
    color: #ffffff;
}
